
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}
.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 31px;
    margin-left: 135px;
}
.item-logo{
    text-align: center;

}
/*--------меню-----------*/
.menu{
    width: 700px!important;
    text-align: center;
    margin-right: 70px;
}
ul {
    list-style: none;
}

nav {
    height: 40px;
    margin: 40px auto;
    background-color: rgba(130, 213, 214, 0.7);
    text-align: center;
    border-radius: 4px;
}
.main {
    display: flex;
    justify-content: center;
}
.main > li {
    margin: 0 2%;
}
a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;

    font-family: 'Open Sans', sans-serif
}

header a:hover {
    background-color: #1aaaac;
}

.drop li {
    opacity: 0;
    transform-origin: top center;
}

.drop li a {
    background-color: rgba(26, 170, 172, 0.7);
    padding: 10px 0;
}

/*------------- menu4 animation -------------------*/

.main li:hover .menu4 li:first-of-type {
    animation: menu4 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
}

.main li:hover .menu4 li:nth-of-type(2) {
    animation: menu4 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
}

.main li:hover .menu4 li:nth-of-type(3) {
    animation: menu4 0.3s ease-in-out forwards;
    animation-delay: 0.9s;
}

.main li:hover .menu4 li:last-of-type {
    animation: menu4 0.3s ease-in-out forwards;
    animation-delay: 1.2s;
}

@keyframes menu4 {
    0% {
        opacity: 0;
        transform: translateX(50px) rotate(-90deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotate(0);
    }
}


/*карусель*/
.section-carousel{
    height: 567px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-carousel{
    max-width: 1440px;
    margin: auto;
}.block{
    max-width: 1385px;
 }
.heading{
    font-size: 63px;
    text-align: center;
    color: white;
    margin-top: 140px;
    font-family: 'Open Sans', sans-serif
 }
.heading-info{
    font-size: 23px;
    text-align: center;
    color: white;
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif
}
 .item{
    text-align: center;
    margin-top: 58px;
}
.item a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    border: white 3px solid;
    border-radius: 5px;
    padding: 21px 34px 21px 41px;
    text-align: center;
    display: inline-block;
}
/*.owl-carousel .owl-stage:after{*/
/*    height: 564px;*/
/*    text-align: center;*/
/*}*/
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 29px;
    top: 300px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    outline: none;
    color: #49cbcd;
    height: 50px;
    width: 50px;
    background-color: white;
    border: white 1px solid;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-prev:before {
     content: "\f053";
 }
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 29px;
    top: 300px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    outline: none;
    color: #49cbcd;
    height: 50px;
    width: 50px;
    background-color: white;
    border: white 1px solid;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next:before{
    content: "\f054";
}